In [12]:
import pandas as pd
import sqlalchemy as sql
import mysql.connector

In [14]:
database_type = 'mysql'
user = 'root'
password = 'root'
host = 'localhost'
database = 'sandbox'
table='prueba'

In [30]:
miConexion = mysql.connector.connect( host=host, user= user, passwd=password, db=database )
cur = miConexion.cursor()
cur.execute( f"SELECT * FROM {database}.{table}" )

In [31]:
result = cur.fetchall()

In [32]:
for a in result :
    print(a)

(241451, 'Alguno', 'cualquiera', 'profesional')
(563424, 'cristiano', 'ronaldo', 'futbolista')
(2232151, 'otro', 'petronilo', 'no prof')